.uber-btn {
  height: 45px;
  width: 120px;
  background-color: rgba(10, 10, 10, 0.977);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.amazon-btn {
  height: 42px;
  width: 260px;
  background-color: #f9d84b;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 30px;
  font-size: 20px;
}
